<div class="container" style="max-width: var(--container-max-width); margin: 0 auto; padding: var(--padding-section);">
  <h1>Veiculando WhiteLabel (Exibidora - Operador)</h1>
  <p>Design System Aurum (CSR - Angular v17+ Standalone)</p>
  <button class="btn-pill" (click)="testToken()">Testar Secure Storage (Smoke Test)</button>

  <div style="margin-top: 32px; height: 300px; width: 100%;" class="ag-theme-quartz">
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      [rowData]="rowData"
      [columnDefs]="colDefs">
    </ag-grid-angular>
  </div>

  <router-outlet></router-outlet>
</div>
